* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:hover {
    color: black;
}

html,
body {
    min-width: 320px;
    height: 100%;
}

body {
    font-family: Montserrat,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*--------------general-styles--------*/

.header__logo {
    padding: 10px 0 10px;
    text-align: center;
}

.header_logo-img {
    width: 197px;
}

.m-header_logo-img {
    width: 125px;
}

.pro-image {
    width: 110px;
    height: 34px;
}

/*---------------header---------------*/

.header {
    padding: 0 25px;
    background-color: white;
    text-transform: uppercase;
}

.header__burger {
    display: none;
    z-index: 2;
}

.header a,
.header a:hover {
    text-decoration: none;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__left-list {
    justify-content: flex-start;
}

.header__right-list {
    justify-content: flex-end;
}

.header__item {
    padding: 0 40px;
}

.header__link:hover {
    border-bottom: 5px solid #ED4A43;
    padding-bottom: 22px;
}

/*----------------slider-menu---------------*/

.side-nav {
    min-height: 200px;
    min-width: 100%;
    position: fixed;
    text-align: center;
    background: rgba(255, 86, 8, 0.8);
    font-weight: 500;
    transition: 1s;
    z-index: 1;
    top: -300px;
    right: 0;
}

.side-nav li {
    padding: 10px;
}

.menu--active {
    top: 0;
}

/*-------------------btn-back----------------*/

.btn_back {
    padding: 30px 20px;
}

.btn_back a,
.m-btn_back a {
    text-decoration: none;
}

.arrow {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #ED4A43;
    border-left: 2px solid #ED4A43;
    transform: rotate(45deg);
}

/*--------------------main_left------------------*/

.main {
    flex: 1 0 auto;
    padding: 0 65px;
}

.index-block {
    padding-bottom: 100px;
    background: #e5e5e5;
}

.master-block {
    padding: 50px;
    margin-bottom: 35px;
    background-color: white;
    font-size: 21px;
}

.user {
    text-align: center;
}

.user_photo {
    max-width: 100%;
}

.user_state {
    margin-top: 40px;
    text-align: center;
}

.phone {
    margin-bottom: 50px;
}

.phone__number {
    font-weight: bold;
}

.master-block-social {
    margin-bottom: 0;
}

.messenger__block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
}

.icon_img {
    width: 55px;
    height: 55px;
    margin-right: 30px;
    border-radius: 70px;
    margin-right: 30px;
}

.viber .icon_img {
    background: #7D3DAF url(../img/viber_icon.png) 15px 16px no-repeat;
    background-size: 24px;
}

.telegram .icon_img {
    background: #61A8DE url(../img/telegram_icon.png) 13px 16px no-repeat;
    background-size: 27px;
}

.messenger__block img {
    margin-right: 20px;
}

.messenger__block span {
    text-decoration: underline;
}

.master-block-social_img {
    width: 26px;
}

/*----------------main_center----------------*/

.user_name {
    padding: 70px 0;
    text-align: center;
}

.user_name h2 {
    font-weight: 400;
}

.tablist {
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.tab-link {
    font-size: 21px;
    cursor: pointer;
}

.tab-link.current {
    color: #ED4A43;
    background: white;
    font-weight: bold;
}

.tablist li {
    padding: 20px 10px;
    flex-grow: 1;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
}

.tab-content{
    display: none;
}

.tab-content.current{
    display: inherit;
}

/*--------------------price------------------*/

.block-price {
    padding: 50px 65px;
    background-color: white;
    margin-top: 35px;
    max-height: 95vh;
    overflow: auto;
    word-wrap: break-word;
}

.block-price__item {
    display: flex;
}

.block-price__upper {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.block-price__item p {
    flex-basis: 50%;
}

.block-price__upper:first-child {
    font-weight: bold;
}

/*-------------------gallery-------------------*/

.gallery {
    margin: 75px 0;
	text-align: center;
}

.gallery h2 {
    font-weight: 400;
    text-align: left;
    text-indent: 1rem;
}

.gallery__imges__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.gallery__imges-height {
    min-height: 183px;
    margin-top: 30px;
}

/*--------------------blog---------------------*/

.news {
    display: flex;
    font-size: 21px;
}

.news:hover {
    text-decoration: none;
}

.news__photo {
    width: auto;
    margin-right: 50px;
}

.news .text_bold {
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.news__wrap {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: gray;
}

.news__viewing {
    display: inline-block;
    padding-right: 30px;
    font-weight: bold;
}

.news__viewing span {
    vertical-align: middle;
}

.news__viewing img {
    width: 25px;
}

.news__wrap p {
    vertical-align: middle;
}

/*-----------------right block---------------------*/

.city {
    padding-bottom: 20px;
}

.city p {
    margin: 0;
}

.city span {
    font-size: 16px;
}

.map {
    text-align: center;
    padding: 30px 0;
}

.map p {
    text-align: left;
}

.map a {
    font-size: 16px;
    text-decoration: underline;
}

.map__block {
    padding-bottom: 30px;
}

.map__block img {
    max-width: 100%;
}

.add-master {
    margin-bottom: 35px;
    text-align: center;
}

.master-block_recommend {
    display: none;
}

.master-block__link:hover {
    text-decoration: none;
}

.master-block__recommend {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 16px;
}

.circle-img {
    width: 55px;
    height: 55px;
    float: left;
    margin-right: 30px;
    border-radius: 50px;
}

.master-block__recommend p {
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: 10px;
}

/* -------------------route-modal-window---------------- */

.modal-dialog-route {
    max-width: 900px;
}

.route-modal-content {
    background-clip: unset;
    border: none;
    border-radius: 0;
    background: rgba(0, 0, 0, 0);
}

.route-modal-header {
    margin-bottom: 70px;
    align-items: baseline;
    border: none;
}

.route-title {
    font-size: 2vmax;
    font-weight: 300;
    color: white;
}

.route-close {
    text-shadow: none;
    font-size: 1vmax;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    opacity: 0.5;
}

.route-close:link,
.route-close:visited,
.route-close:hover {
    border: none;
    box-shadow: none;
    color: #FFFFFF;
}

.modal-body-block {
    display: flex;
    justify-content: space-between;
}

.modal-body-left {
    display: flex;
    align-items: center;
}

.modal-body-left_img {
    width: 18px;
}

.modal-body-pad {
    padding-left: 25px;
}

.modal-desc-text {
    padding-right: 25px;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.68;
}

.modal-input {
    margin-left: 15px;
    padding: 7px 25px;
    font-size: 16px;
    color: rgb(228, 228, 228);
    background: rgb(24, 24, 24);
    border: none;
}

.modal-body-right {
    font-size: 21px;
    color: rgb(228, 228, 228);
}

.modal-body-select {
    max-width: 190px;
    padding: 7px 27px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    font-size: 16px;
}

.modal-footer-route {
    border: none;
}

.map-route-modal {
    width: 100%;
}

/* -------------------geoPosition-modal-window---------------- */

.modal {
    background: rgba(0, 0, 0, 0.75);
}

.new-modal-content {
    border: none;
    border-radius: 0;
}

.new-btn-style {
    text-decoration: underline;
    border: none;
}

.new-btn-style:link,
.new-btn-style:visited,
.new-btn-style:hover {
    text-decoration: underline;
    border: none;
    outline: none;
}

.new-modal-title {
    padding: 40px;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    text-transform: uppercase;
    background: rgba(245, 245, 245, 0.5);
}

.new-modal-body {
    padding: 16px 86px 66px;
}

.img-modal-body {
    margin-top: 10px;
    margin-bottom: 30px;
}

.img-modal-body_width {
    width: 41px;
}

.modal-body-text {
    font-size: 16px;
    font-weight: 300;
}

.new-modal-footer {
    padding: 0;
    align-items: inherit;
    justify-content: inherit;
    border-radius: 0;
}

.new-btn-footer {
    width: 50%;
    height: 60px;
    margin: 0!important;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: white;
}

.new-btn-secondary {
    background: #C0C0C0;
}

.new-btn-secondary:link,
.new-btn-secondary:visited,
.new-btn-secondary:hover {
    background: rgb(182, 182, 182);
    color: white;
}

.new-btn-primary {
    background: #3ACB7C;
}

.new-btn-primary:link,
.new-btn-primary:visited,
.new-btn-primary:hover {
    background: rgb(52, 194, 116);
    color: white;
}

/*---------------------footer---------------------*/

.footer {
    flex: 0 0 auto;
    background-color: #494949;
    color: rgba(255, 255, 255, 0.5);
}

.footer__wrapper {
    padding: 60px 130px 40px;
}

.footer__list {
    margin-top: 40px;
}

.footer__item {
    padding-bottom: 20px;  
}

.footer__link {
    color: #FFFFFF;
    text-decoration: underline;
}

.footer__icon {
    width: 24px;
    margin-right: 10px;
}

.footer__block-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.05);
}

.footer__block-search a,
.footer__block-search a:hover {
    color: white;
    text-decoration: none;
}

.footer__button-search {
    display: block;
    max-width: 415px;
    padding: 10px 60px;
    font-size: 21px;
    background-color: #ED4A43;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.footer__info-search {
    display: flex;
    align-items: center;
}

.info-icon_width {
    width: 18px;
}

.footer__info-text {
    padding-left: 10px;
}

.bottom-line {
    padding: 10px 0;
    text-align: center;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
}

/*--------------media-index-page-------------*/

@media screen and (max-width: 1727px){
    .messenger__block {
        font-size: 18px;
    }

    .icon_img {
        margin-right: 10px;
    }
}

@media screen and (max-width: 1688px){
    .news {
        flex-wrap: wrap;
    }

    .news__photo {
        margin: auto;
    }

    .news .text_bold {
        height: 100px;
    }

    .block-price__news {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1545px){
    .messenger__block {
        font-size: 14px;
    }
}

@media screen and (max-width: 1400px){
    .block-price {
        padding: 20px 25px;
    }

    .master-block {
        padding: 20px;
    }

    .footer__wrapper {
        padding: 30px 20px 20px;
    }
}

@media screen and (max-width: 1250px){
    .header,
    .main {
        padding-left: 0;
        padding-right: 0;
    }

    .header__item {
		padding: 0 0 0 40px;
    }
    
    .header__item:first-child {
		padding-left: 0;
	}

    .footer__block-search {
        padding: 40px 20px 20px;
    }
}

@media screen and (max-width: 992px){
	.hide-block {
		display: none;
    }

    .header__wrapper {
        min-height: 96px;
    }

    .header__logo {
        text-align: left;
    }

    .header__burger {
		display: inline-block;
    }

    .master-block {
        padding: 40px;
        margin-top: 35px;
    }

    .messenger__block {
        font-size: 21px;
    }

    .tablist li {
        padding: 20px;
    }

    .map p {
        text-align: center;
    }
}

@media screen and (min-width: 992px){
    .side-nav {
        display: none;
    }
}

@media screen and (max-width: 767px){
    .footer__wrapper {
        padding-left: 0;
        padding-right: 0;
    }

	.footer__block-search {
		margin-top: 20px;
    }
}

@media screen and (max-width: 768px){
    .container {
        max-width: 576px;
    }
}

@media screen and (max-width: 750px){
    .modal-body-right,
    .modal-body-select {
        display: none;
    }
}

@media screen and (max-width: 450px){
    .footer,
    .header {
        display: none;
    }

    .block-price__item p:first-child {
        flex-basis: 70%;
    }

    .block-price__item p:last-child {
        flex-basis: 30%;
        text-align: right;
    }

    .header__wrapper {
        height: auto;
    }

    .icon_img {
        margin-right: 0;
    }
}

@media screen and (max-width: 410px){
    .side-nav {
        text-align: left;
    }

    .news {
        display: block;
    }

    .news__photo {
        width: 100%;
    }
}

@media screen and (max-width: 360px){
    .messenger__block {
        font-size: 16px;
    }
}

/*--------------------master-search-page--------------*/

.title-master-search {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 21px;
}

#reset-search {
    display: none;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}

.wrap-search {
    margin: 0;
    padding: 40px 25px 35px;
    background-color: white;
}

.master-search-select {
    width: 80%;
    padding: 5px 15px;
    margin-bottom: 20px;
    box-sizing: content-box; 
    font-weight: bold;
}

#select-district,
#select-extended-service {
    display: none;
}

#price {
    display: none;
}

.wrap-search__wrap-price {
    max-width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap-search__price {
    width: 85px;
    padding: 10px 20px;
    border: 1px solid #A6A6A6;
    text-align: center;
    font-weight: bold;
}

#extended-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #ED4A43;
    text-decoration: underline;
    cursor: pointer;
}

.wrap-search-checkbox {
    display: none;
    margin: 1px 0 0 0;
    padding: 15px 25px;
    background-color: white;
    text-transform: uppercase;
}

/*-------------------radio--------------------*/
#distance-search {
    display: none;
}

.wrap-search__distance p {
    margin-bottom: 30px;
}

.wrap-search__line-throught {
    max-width: 90%;
    height: 1px;
    background-color: #A6A6A6;
    margin: 0 20px;
}

.wrap-search__distance-block {
    position: relative;
    display: flex;
    justify-content: space-between;
}
  
.wrap-search__label {
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}
  
.wrap-search__label::before,
.wrap-search__label::after {
    display: block;
    content: "";
    position: absolute;
    top: -20px;
    border-radius: 50%; 
    z-index: 1;
}

.search-label::before,
.search-label::after {
    left: 10px;
}

.search-label-test::before,
.search-label-test::after {
    left: 7px;
}

.last-search-label::before,
.last-search-label::after {
    right: 19px;
}
  
.wrap-search__label::before {
    width: 18px;
    height: 18px;
    border: solid 1px #A6A6A6;
    background: white;
}
  
.wrap-search__label::after {
    width: 18px;
    height: 18px;
    background: #ED4A43;
    transition-duration: 0.28s;
    transition-property: transform;
    transform: scale(0);
}

.wrap-search__input {
    display: none;
}
  
.wrap-search__input:checked ~ label::after {
    transform: scale(1.1);
}

/*-----------------chackbox-style-------------*/

.search-master__lable {
    position: relative;
    cursor: pointer;
    padding-left: 50px;
    padding-top: 6px;
    vertical-align: middle;
  }
  
  .search-master__lable::before {
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    border: 2px solid #5a5a5a;
    content: "";
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}
  
input[type="checkbox"] {
    display: none;
}
  
input[type="checkbox"]:checked ~ .search-master__lable::after {
    position: absolute;
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: #ED4A43;
    top: 8px;
    left: 6px;
}

/* -------------------found-masters--------------------- */

.found-masters {
    margin-top: 40px;
}

.found-masters__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px;
    background: white;
    margin-bottom: 35px;
    font-size: 21px;
}

.found-masters__left {
    max-width: 200px;
    margin-right: 20px;
}

.found-masters__img {
    max-width: 200px;
}

.found-masters__open-master {
    display: block;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ED4A43;
}

.found-masters__open-master:hover {
    text-decoration: none;
    background: #ED4A43;
    color: white;
}

.found-masters__description {
    min-width: 250px;
}

.found-masters__location {
    margin-top: 50px;
    margin-bottom: 20px;
}

.found-masters__range {
    padding-left: 20px;
    vertical-align: middle;
    color: #ED4A43;
    font-weight: bold;
}

.found-masters__street {
    padding-left: 40px;
    font-size: 16px;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.5);
}

.found-masters__feedback {
    margin-bottom: 20px;
}

.found-masters__feedback-text {
    font-size: 16px;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.found-masters__phone-number {
    padding-left: 15px;
    vertical-align: middle;
}

.found-masters__navigator {
    margin-top: 30px;
    text-align: center;
}

.found-masters__navigator span,
.found-masters__navigator a {
    display: inline-block;
    padding: 5px 15px;
    font-size: 16px;
    text-align: center;
}

.found-masters__navigator span {
    border: 1px solid #ED4A43;
}

.found-masters__bottom-desc {
    margin-top: 75px;
    padding: 0 40px;
}

.found-masters__bottom-desc {
    margin-top: 50px;
    text-align: center;
}

.found-masters__bottom-desc p {
    margin: 0;
    line-height: 1;
}

.help-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.05);
}

.found-masters__bottom-desc .help-search {
    border: none;
}

.help-search__button {
    display: block;
    padding: 10px 60px;
    font-size: 21px;
    background-color: #ED4A43;
    margin-bottom: 20px;
    text-align: center;
}

.help-search__button,
.help-search__button:hover {
    color: white;
    text-decoration: none;
}

.help-search__info {
    display: flex;
    align-items: center;
}

.help-search__text {
    padding-left: 10px;
    font-size: 16px;
}

.found-masters__map {
    width: 100%;
}

.found-masters__map-wrap {
    margin-bottom: 40px;
}

/* ----------------media master-search-page------------------ */

@media screen and (max-width: 1650px){   
    .found-masters__left {
        margin-bottom: 30px;
    }

    .found-masters__street {
        padding-left: 20px;
    }
}

@media screen and (max-width: 1285px){
    .found-masters__block {
        justify-content: center;
    }
}

@media screen and (max-width: 1325px){
    .found-masters__range,
    .found-masters__street,
    .found-masters__feedback-text,
    .found-masters__phone-number {
        padding-left: 10px;
    }
}

@media screen and (max-width: 1008px){
    .found-masters__description {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px){
    .wrap-search__block-price {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 550px){
    .found-masters__left {
        margin-right: 0;
    }
}

@media screen and (max-width: 450px){
    .index-block {
        display: none;
    }
}

/*----------------------main-page------------------*/

.main_new-width {
    padding: 0;
}

.main-page__title-wrap {
    position: relative;
    min-height: 100vh;
    margin: 0 65px 50px;
    background: url('../img/main_bg.png') center no-repeat;
}

.main-page__title-wrap:after {
    content: '';
    display: block;
    position: absolute;
    background:  url('../img/main_after_img.png') no-repeat;
    background-size: cover;
    width: 346px;
    height: 94px;
    margin-left: -173px;
    bottom: 0;
    left: 50%;
    z-index: 1;
}

.main-page__title {
    margin: 0 auto;
    padding-top: 185px;
    padding-bottom: 130px;
    text-align: center;
}

.main-page__title h1 {
    font-size: 55px;
    font-weight: normal;
    word-spacing: 5px;
}

.main-page__search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 180px;
    padding: 50px;
    background: rgb(255, 255, 255, 0.7);
    border-radius: 5px;
}

.main-page-select {
    width: 270px;
    margin-right: 50px;
    padding: 5px 15px;
    font-weight: 500;
    box-sizing: content-box;
    text-transform: uppercase;
}

.main-page__buton-send {
    min-width: 302px;
    padding: 13px 60px;
    background: #ED4A43;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    text-align: center;
}

.main-page__buton-send:link,
.main-page__buton-send:visited,
.main-page__buton-send:hover {
    text-decoration: none;
    color: white;
}

/* ---------------advantages---------------- */

.main-page__advantages {
    padding: 0 65px;
}

.main-page__article {
    text-align: center;
    margin-bottom: 100px;
    font-weight: 300;
}

.main-page__article-number {
    font-size: 89px;
    font-weight: 400;
}

.main-page__article-text {
    font-size: 55px;
    text-transform: uppercase;
}

.main-page__article-title {
    font-size: 34px;
}

.main-page__article-color {
    color: #F64C45;
}

.main-page__advantages-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 120px;
}

.main-page__advantages-desc {
    width: 250px;
    margin-bottom: 50px;
    font-size: 21px;
    text-align: center;
}

.main-page__advantages-desc img {
    max-height: 90px;
}

.main-page__advantages-number {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 34px;
    text-transform: uppercase;
}

.main-page__advantages-des span {
    text-transform: lowercase;
}

.advantages__big-text {
    text-transform: inherit;
}
/*--------------------best-masters------------------*/

.best-masters {
    flex-direction: column;
    padding: 100px 0;
    text-align: center;
    background: #F8F8F8;
}

.best-masters__wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.best-masters__on-map {
    display: flex;
    align-items: center;
}

.best-masters__on-map-img {
    width: 26px;
    margin-right: 20px;
}

.best-masters__show-map {
    display: block;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}

.best-masters__hide-map {
    display: none;
    cursor: pointer;
    font-size: 18px;
}

.best-masters__hide-map:hover {
    color: #ED4A43;
}

.best-masters__master-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.best-masters__master-block {
    padding: 30px 40px 15px;
    min-width: 280px;
    background: white;
    color: black;
    margin-right: 50px;
}

.best-masters__master-block:last-child {
    margin-right: 0;
}

.best-masters__master-name {
    font-size: 21px;
    margin-bottom: 40px;
}

.best-masters__master-prof {
    font-size: 13px;
}

.best-masters__img-pro {
    width: 68px;
    height: 20px;
}

.best-masters__master-reviews {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.best-masters__reviews-href {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.best-masters__img-master {
    max-width: 200px;
}

.best-masters__master-page {
    display: block;
    margin: 20px 0 10px;
    font-size: 13px;
    text-transform: uppercase;
    color: #ED4A43;
}

/* ------------------best-masters__slider-------------------- */

.all {
    display: block;
}

#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider { /*центровка слайдера*/
	margin: 0 auto;
}

#slides article { /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image { /*устанавливает общий размер блока с изображениями*/
	width: 300%;
	line-height: 0;
}

#overflow { /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

#desktop:checked ~ #slider { /*размер всего слайдера*/
	max-width: 1350px;
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(3), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2) {
	background: url('../img/prev.png') no-repeat;
	background-size: 40px;
	float: left;
	margin: 100px 0 0 -10px;
	display: block;
	height: 40px;
	width: 40px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(1) {
	background: url('../img/next.png') no-repeat;
	background-size: 40px;
	float: right;
	margin: 100px 0 0 0;
	display: block;
	height: 40px;
	width: 40px;
}

label, a {
	cursor: pointer;
}

.all input { /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image {
	margin-left: 0;
}

#switch2:checked ~ #slides .image {
	margin-left: -100%;
}

#switch3:checked ~ #slides .image {
	margin-left: -200%;
}

#controls { /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label { /*стиль отдельного переключателя*/
	border-radius: 3px;
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 5px;
	background: #bbb;
}

#active { /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover { /*поведение чекбокса при наведении*/
	background: #fe9880;
	border-color: #777 !important;
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3) {
	background: #ff6e47;
	border-color: #ff6e47 !important;
}

#slides .image { /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover { /*прозрачность стрелок при наведении*/
    opacity: 0.6;
}

#controls label { /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}

/*----------------------------------------------*/

.slide {
	position: relative;
	float: left;
    width: 1260px;
    display: flex;
    justify-content: space-around;
	margin: 50px 50px 20px 40px;
	line-height: normal;
}

.best-masters__master-wrap {
    display: inline-block;
    justify-content: space-around;
    flex-wrap: wrap;
}

.best-masters__master-block {
    min-width: 280px;
    background: white;
}

.best-masters__master-name {
    font-size: 21px;
    margin-bottom: 40px;
}

.best-masters__master-prof {
    font-size: 13px;
}

.best-masters__img-pro {
    width: 68px;
    height: 20px;
}

.best-masters__master-reviews {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.best-masters__reviews-href {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.best-masters__img-master {
    max-width: 200px;
}

.best-masters__master-page {
    display: block;
    margin: 20px 0 10px;
    font-size: 13px;
    text-transform: uppercase;
    color: #ED4A43;
}

/*--------------------best-masters__error-find------------------*/

.best-masters__error-find {
    display: none;
    max-width: 700px;
    margin: 150px auto;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
}

.best-masters__error-find .help-search {
    background: none;
    border: none;
}

/*--------------------best-masters__hide-search------------------*/

.best-masters__map-img {
    max-width: 100%;
}

.best-masters__search-scale {
    max-width: 440px;
    margin: 50px auto 0;
}

.best-masters__hide-search {
    display: none;
}

/*--------------------offer-block------------------*/

.main-page__offer {
    padding: 100px 0;
    text-align: center;
}

.main-page__offer-title {
    margin-bottom: 80px;
    font-size: 34px;
}

.main-page__offer-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.main-page__offer_wr-height {
    min-height: 700px;
}

.main-page__offer-block {
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 55px;
    background: #F8F8F8;
    text-transform: uppercase;
}

.main-page__offer-block:first-child {
    margin-right: 10px;
}

.main-page__offer-desc {
    padding-top: 130px;
    padding-bottom: 100px;
    font-size: 21px;
}

.main-page__offer-button {
    display: block;
    padding: 20px;
    font-size: 21px;
    background: white;
    color: #ED4A43;
    border: 1px solid #FBFBFB;
    font-weight: 600;
    border-radius: 3px;
}

.main-page__offer-button:link,
.main-page__offer-button:visited,
.main-page__offer-button:hover {
    text-decoration: none;
    background: white;
    color: #ED4A43;
}

/*-----------------------logo-block-------------------*/

.main-page__logo-block {
    margin: 200px 0;
    text-align: center;
}

.main-page_logo-img {
    max-width: 100%;
}

.main-page__logo-text {
    margin-top: 50px;
    margin-bottom: 200px;
    font-size: 34px;
    font-weight: 300;
}

.main-page__help-search {
    margin: 0 auto;
    max-width: 1300px;
    padding: 100px;
}

/*-------------------registration-block---------------*/

.main-page__registration-block {
    margin-bottom: 150px;
    padding: 80px;
    background: url('../img/registration_bg.png') center no-repeat;
    text-align: center;
}

.main-page__registration-title {
    margin-bottom: 60px;
    font-size: 55px;
    font-weight: bold;
}

.main-page__registration-form {
    max-width: 640px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 40px 135px;
    background: white;
}

/*-------------------registration-form---------------*/

/*-------------------radio-style---------------*/

.main-page__form-wrap {
    display: flex;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.main-page__form-wrap > div {
    padding: 14px 44px;
}

.main-page__form-wrap > div:last-child {
    padding-right: 0;
}


.main-page__reg-label {
    position: relative;
    cursor: pointer;
}

.main-page__reg-label::before,
.main-page__reg-label::after {
    position: absolute;
    top: 0;
    left: -42px;
    border-radius: 50%;
    content: "";
}

.main-page__reg-label::before {
    width: 20px;
    height: 20px;
    border: solid 2px #5a5a5a;
}

.main-page__reg-label::after {
    width: 10px;
    height: 10px;
    top: 5px;
    left: -37px;
    background-color: #ED4A43;
    transition-duration: 0.28s;
    transition-property: transform;
    transform: scale(0);
}

.main-page__reg-input {
    display: none;
}

.main-page__reg-input:checked ~ .main-page__reg-label::after {
    transform: scale(1.1);
}

/*------------------------end radio-style---------------------*/

.main-page__form-common {
    width: 280px;
    margin-bottom: 20px;
    padding: 12px 20px;
}

.main-page__form-text,
.main-page__form-tel {
    border: 1px solid rgba(0,0,0,.15);
}

.main-page__form-select {
    height: auto;
    padding: 12px 20px;
    border-radius: 0;
}

.main-page__form-button {
    position: relative;
    margin-top: 40px;
    background: #3ACB7C;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.main-page__form-button:link,
.main-page__form-button:visited,
.main-page__form-button:hover {
    text-decoration: none;
    color: white;
}

.main-page__form-button:after {
    content: url('../img/arrow.png');
    position: absolute;
    top: 15px;
    right: 40px;
}

.main-page__form-desc {
    text-align: center;
    font-size: 13px;
}

.main-page__form-bold {
    font-weight: bold;
}

/*-------------------media__main-page----------------------*/

@media screen and (max-width: 1250px){
    .main-page__title-wrap {
        margin: 0 0 50px;
    }

    .main-page__search {
        margin: 0;
        padding: 30px;
    }

    .main-page__advantages-item {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 1190px){
    .main-page__offer-block:first-child {
        margin-right: 0;
    }

    .main-page__logo-block {
        margin-top: 100px;
    }

    .main-page__help-search {
        padding: 50px;
    }
}

@media screen and (max-width: 982px){
    .main-page__search {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .main-page-select {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 760px){
    .main-page__article-text,
    .main-page__registration-title {
        font-size: 40px;
    }
    .main-page__registration-block {
        padding: 80px 0;
    }

    .main-page__registration-form {
        padding: 40px 0;
    }

    .main-page__advantages-item {
        justify-content: center;
    }
}

@media screen and (max-width: 500px){
    .main-page__help-search {
        padding: 50px 10px;
    }

    .main-page__title h1 {
        font-size: 35px;
    }

    .main-page__offer-block {
        padding: 50px 10px;
    }
}

@media screen and (max-width: 450px){
    .main_new-width,
    .d-footer {
        display: none;
    }

    .main-page__advantages {
        padding: 0;
    }

    .main-page__advantages-item {
        justify-content: center;
    }
}

@media screen and (max-width: 360px){
    .main-page__search {
        padding: 30px 0;
    }
}

/*-----------------------quick-search-first-page--------------------*/

.quick-search_block {
    max-width: 1370px;
    margin: 110px auto; 
    display: flex;
    flex-direction: column;
    box-shadow: 0px 7px 10px rgba(237, 74, 67, 0.05);
}

.quick-search_title-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 45px 50px;
    background: rgba(248, 248, 248, 0.5);
}

.quick-search_empty {
    width: 75px;
    height: 1px;
}

.quick-search_title-text {
    font-weight: 300;
    font-size: 26px;
    color: #3A2727;
}

.quick-search_exit {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #ED4A43;
}

.quick-search_exit:hover {
    color: #ED4A43;
    text-decoration: none;
}

.quick-search_main-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 85px;
    text-align: center; 
    font-size: 21px;
}

.quick-search_main-step {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.quick-search_main-step:not(:last-child):after {
    content: '';
    display: block;
    position: absolute;
    background-image: url('../img/arrow-left.png');
    background-size: cover;
    width: 20px;
    height: 7px;
    top: 40px;
    right: -40px;
}

.quick-search_number-stap {
    font-weight: bold;
    font-size: 55px;
    color: #ED4A43;
}

.quick-search_text-stap {
    margin-top: 50px;
}

.quick-search_find-block {
    margin: 100px auto 45px;
}

@media screen and (max-width: 950px){
    .quick-search_empty {
        display: none;
    }

    .quick-search_title-block {
        flex-direction: column;
    }

    .quick-search_title-text {
        margin-bottom: 30px;
    }

    .quick-search_main-step {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 740px){
    .quick-search_main-info {
        flex-direction: column;
        align-items: center;
    }

    .quick-search_main-step:not(:last-child):after {
        display: none;
    }

    .quick-search_find-block {
        margin-top: 0;
    }
}

@media screen and (max-width: 450px){
    .quick-search {
        display: none;
    }
}
/*-----------------------quick-search-second-page--------------------*/

.main-quick-search {
    display: block;
}

.quick-search_bg-color {
    background: #F8F8F8;
}

.main-quick-search_wrap {
    margin-top: 120px;
    background: white;
    box-shadow: 0px 7px 10px rgba(237, 74, 67, 0.05);
}

.main-quick-search_title {
    padding: 55px 0;
    text-align: center;
    font-weight: 300;
    font-size: 26px;
    color: #3A2727;
    background: rgba(248, 248, 248, 0.5);
}

.main-quick-search_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    font-size: 16px;
}

.main-quick-search_input {
    min-width: 288px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 1px solid #E0E0E0;
    text-transform: uppercase;
}

.main-quick-search_select {
    max-width: 256px;
    margin-bottom: 20px;
    padding: 3px 15px;
    text-transform: uppercase;
    border-radius: 0;
    box-sizing: content-box;
}

.main-quick-search_select:last-child {
    margin-bottom: 0;
}

.main-quick-search_btn-wrap {
    display: flex;
    justify-content: center;
    padding: 45px 0;
    background: rgba(248, 248, 248, 0.5);
}

.main-quick-search_btn {
    width: 415px;
    padding: 10px 60px;
    font-size: 21px;
    background-color: #ED4A43;
    text-align: center;
    color: white;
}

.main-quick-search_footer-text {
    margin-top: 40px;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}

.main-quick-feedback {
    display: none;
    max-width: 680px;
    margin: 250px auto 0;
    padding: 100px 0 85px;
    box-shadow: 0px 7px 10px rgba(237, 74, 67, 0.05);
    background: white;
    text-align: center;
}

.main-quick-feedback_text {
    font-weight: 300;
    font-size: 26px;
}

.main-quick-feedback_btn {
    display: inline-block;
    width: 415px;
    margin-top: 70px;
    padding: 10px 60px;
    font-size: 21px;
    background-color: #ED4A43;
    text-align: center;
    color: white;
}

@media screen and (max-width: 450px){
    .main-quick-search,
    .main-quick-feedback {
        display: none;
    }
}

/*------------------------error-404--------------------*/

.error_image {
    height: 100%;
    background-image: url('../img/error_404.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.error_background {
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.main-error-block {
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid white;
}

.error_block {
    margin: 120px auto;
}

.error_number {
    font-weight: bold;
    font-size: calc(36px + 4vw);
    color: #ED4A43;
}

.error_title {
    font-size: calc(16px + 2vw);
}

.error_btn {
    display: inline-block;
    margin-top: 80px;
    padding: 15px 50px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-size: 21px;
    font-weight: 600;
    color: white;
}

.error_btn:hover {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 450px){
    .hide-error_form {
        display: none;
    }
}

/*------------------------mobile-version------------------*/
.mobile-version {
    display: none;
}
/*------------------m-main-page----------------*/

@media screen and (max-width: 450px){
    .mobile-version {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
    }
}

.m-top_block {
    min-height: 100%;
    padding: 0 20px 25px;
    background-image: url("../img/main_m.png");
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.m-main_title {
    margin: 225px 0 50px;
    padding: 0 20px;
    font-weight: 300;
    line-height: 23px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}

.m-main_select {
    display: inline-block;
    width: 280px;
    margin-bottom: 16px;
    font-weight: 300;
    line-height: normal;
    border-radius: 0;
}

.m-main_select option {
    padding: 8px 12px 8px 28px;
}

.m-main_send {
    display: inline-block;
    width: 280px;
    padding: 7px 60px;
    background: #ED4A43;
    color: white;
    font-weight: bold;
}

.m-main_coming-masters {
    background-color: #FFFFFF;
    text-align: center;
}

.m-main_coming-masters_text {
    margin: 60px 0 25px;
    font-weight: 500;
    color: #000000;
}

.m-main_distance-block {
    padding: 0;
    background-color: #F8F8F8;
}

.m-label {
    font-size: 14px;
}

.m-main_distance {
    margin: 20px 0 10px;
    padding: 0 15px;
}

.m-main .wrap-search__distance-block {
    margin-top: 15px;
}

.m-main .wrap-search__label::before,
.m-main .wrap-search__label::after {
    width: 21px;
    height: 21px;
    top: -35px;
}

.m-main_map-block {
    width: 100%;
}

.m-main_map-desc {
    margin: 16px 40px 40px;
    font-weight: 300;
    font-size: 11px;
}

.m-footer {
    flex: 0 0 auto;
    text-align: center;
    font-size: 13px;
    background: #242627;
}

.m-find_block {
    padding: 35px;
    background: rgba(255, 255, 255, 0.05);
}

.m-find_button {
    display: inline-block;
    width: 260px;
    margin-bottom: 20px;
    padding: 12px 20px;
    background: #ED4A43;
    color: white;
}

.m-info_search {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.m-info_text {
    margin-left: 10px;
    text-decoration: underline;
}

.m-contacts_block {
    padding: 35px;
    color: rgba(255, 255, 255, 0.5);
}

.m-social_icon {
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}

.m-footer_phone {
    color: inherit;
}

.m-footer_color-phone {
    color: white;
}

.m-footer_phone-img {
    height: 15px;
    padding-right: 10px;
}

.m-footer_messenger {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.m-footer_bottom-line {
    background: #2A2F33;
}

.m-footer_find-master {
    display: block;
    padding: 12px 0;
    font-size: 16px;
    background: #ED4A43;
    color: white;
}

/*------------------m-master-search-page----------------*/

.m-search {
    background: #F8F8F8;
    text-align: center;
}

.m-amount-masters {
    padding: 10px 0;
    font-weight: 300;
    font-size: 11px;
}

.m-search-tab {
    margin-bottom: 13px;
    padding: 10px 0;
    background: white;
    font-weight: 300;
    font-size: 16px;
}

.m-search-tab ul {
    display: flex;
    justify-content: space-around;
}

.m-search-tab li {
    flex-grow: 1;
    padding: 4px 0;
}

.m-search-tab li:first-child {
    border-right: 1px solid #CFCFCF;
}

.m-search-tab_bg {
    font-weight: bold;
    color: #ED4A43;
}

#m-list_block {
    display: block;
}

#m-map_block {
    display: none;
}

.m-search-master_block {
    display: flex;
    text-align: left;
    margin-bottom: 13px;
    padding: 15px 13px;
    background: white;
}

.m-search-master_photo {
    max-width: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.m-search_pro-img {
    width: 46px;
    margin-top: 12px;
}

.m-search-master_info p {
    margin-bottom: 2px;
}

.m-search-master_name {
    font-size: 13px;
}

.m-search-master_profession {
    font-weight: 300;
    font-size: 11px;
}

.m-search-master_street {
    font-size: 11px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.5);
}

.m-search-master_dist-block {
    margin-top: 10px;
}

.m-location_img {
    max-height: 16px;
    margin-right: 5px;
}

.m-search-master_distance {
    padding-right: 15px;
    font-weight: bold;
    font-size: 11px;
}

.m-search-master_feedback {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
}

.m-search_navihator {
    margin: 60px 0 100px;
}

/*------------------m-advanced-search-page----------------*/

.m-wrapper-search {
    max-width: 450px;
}

.m-btn_back a {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    font-size: 13px;
    background: #F8F8F8;
}

.m-arrow {
    margin-right: 10px;
}

.m-advanced-search {
    flex: 1 0 auto;
    font-size: 16px;
}

.m-advanced-search select:focus {
    box-shadow: none;
}

.m-advanced-search_margin {
    margin-bottom: 15px;
}

.m-search-select {
    width: 85%;
    padding: 5px 15px;
    margin-bottom: 15px;
    box-sizing: content-box;
    font-weight: bold;
}

.m-wrap-search {
    padding: 16px;
}

.m-advanced-checkbox_block {
    margin: 1px 0 0 0;
    padding: 20px 16px 40px;
    background-color: #F8F8F8;
}

.m-checkbox-text {
    margin-bottom: 30px;
}

.m-advanced-checkbox {
    margin-bottom: 20px;
}

.m-footer_advanced-search {
    flex: 0 0 auto;
    text-align: center;
    font-size: 13px;
}

#m-footer_reset-search {
    padding: 20px 0;
    color: #ED4A43;
}

.m-footer_apply-search {
    display: block;
    padding: 15px;
    color: white;
    background: #ED4A43;
}

/*------------------m-favorite-title-page----------------*/

.m-favorite-title {
    padding: 20px 0;
    font-weight: 300;
    font-size: 16px;
    color: #3A2727;
}

.m-search-delete_block {
    width: 30px;
    margin-right: 10px;
    padding-top: 10px;
}

.m-search-master_delete {
    width: 30px;
}

.m-favorite_edit {
    padding: 15px 0;
    font-size: 13px;
    color: #ED4A43;
}

.m-favorite_cancel {
    padding: 15px 0;
    font-size: 13px;
    color:black;
}

.m-footer_favorite {
    background: #F8F8F8;
}

/*------------------m-index-page----------------*/

.m-main-index {
    flex: 1 0 auto;
    background: #F8F8F8;
}

.m-tablist {
    display: flex;
    justify-content: space-around;
}

.m-tab-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    padding: 10px 0 5px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
    background: white;
    border-right: 1px solid #F8F8F8;
}

.m-current {
    color: white;
    background: #ED4A43;
}

.m-tab-link img {
    height: 22px;
    padding-bottom: 5px;
}

/*--------------m-master-tab-------------*/

.m-name-master {
    margin: 15px;
    font-size: 16px;
}

.m-tab-content {
    display: none;
}

.m-tab-content.current {
    display: inherit;
    margin: 0 15px;
}

.m-index-master_info {
    font-size: 11px;
}

.m-index-master_info p {
    margin-bottom: 5px;;
}

.m-index-master_phone {
    display: flex;
    align-items: center;
    margin: 10px 0 15px;
    color: rgba(0, 0, 0, 0.5);
}

.m-index-master_img {
    width: 13px;
    margin-right: 5px;
}

.m-index-master_street {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.m-index-master_distance {
    padding-right: 15px;
}

.m-index-master_feedback {
    font-weight: 300;
    text-decoration: underline;
}

.m-services-block {
    font-size: 13px;
}

.m-contacts_wrap {
    margin-bottom: 35px;
}

.m-block_title {
    margin: 25px 0 20px;
    font-size: 16px;
}

.m-block_price {
    margin-top: 15px;
    padding: 20px 25px;  
    overflow: auto;
    word-wrap: break-word;
    background-color: white;
}

.m-block-price__upper {
    margin-bottom: 30px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}

.m-contacts_main-block {
    padding: 20px;
    text-align: center;
    background: white;
    font-size: 16px;
}

.m-contacts_phone {
    margin-bottom: 50px;
}

.m-contacts_block-text {
    margin-bottom: 20px;
    font-weight: bold;
}

.m-contacts_fhone-block {
    max-width: 280px;
    margin: 0 auto 20px;
    padding: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
}

.m-contacts_fhone-img {
    height: 24px;
    padding-right: 25px;
}

.m-contacts_fhone-block span {
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.05em;
}

.m-contacts_messengers-block {
    margin-bottom: 40px;
}

.m-contacts_messengers-description {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 13px;
}

.m-contacts_messengers-icons {
    display: flex;
    justify-content: space-around;
}

.fb .icon_img {
    background: #2196F3 url(../img/fb_icon.png) 10px 20px no-repeat;
}

.m-contacts_social-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m-contacts_social-item img {
    width: 26px;
    margin-right: 10px;
}

.m-contacts_social-item span {
    font-size: 13px;
    opacity: 0.5;
}

.m-about {
    margin-bottom: 40px;
}

.m-about_wrap {
    padding: 15px;
    background: white;
}

.m-about_text {
    position: relative;
    max-height: 150px;
    margin-bottom: 20px;
    overflow:hidden;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.m-about_text:before {
    content:'';
    width:100%;
    height:100%;    
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 10px, white);
}

.m-about_more-text {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

#m-about_text-more {
    font-size: 13px;
}

.m-recommend {
    display: none;
    margin-bottom: 40px;
}

.m-recommend_block {
    background: white;
    padding: 20px 15px 0;
}

.m-master-block__recommend {
    display: flex;
    padding-bottom: 40px;
}

.m-recommend_name {
    margin-bottom: 5px;
    font-weight: bold;
    text-decoration: underline;
}

.m-user-map_block {
    padding: 30px 25px;
    background: white;
    font-size: 16px;
}

.m-modal-title {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    text-transform: uppercase;
    background: rgba(245, 245, 245, 0.5)
}

.m-modal-body {
    padding-bottom: 40px;
}

.m-main-btn {
    display: block;
    margin: 50px auto;
    background: white;
    text-align: center;
}

/*--------------m-master-tab-3----------------*/

.m-blog_wrap {
    font-size: 13px;
}

.m-blog_block {
    margin-bottom: 30px;
}

.m-blog_block-img {
    width: 100%;
}

.m-blog_description {
    background: white;
    padding: 15px;
}

.m-blog_date {
    color: rgba(0, 0, 0, 0.5);
}

.m-blog_title-text {
    margin: 10px 0;
    font-weight: bold;
}

/*------------------m-map-page----------------*/

.m-close-map {
    display: block;
    padding: 15px;
    font-size: 13px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    color: #000000;
    opacity: 0.5;
}

.m-main-map {
    flex: 1 0 auto;
    background: white;
}

.m-main-map_data {
    padding: 15px 15px 0;
}

.m-map_user {
    margin-bottom: 15px;
}

.m-map_user img {
    height: 25px;
    margin-right: 15px;
}

.m-map_input {
    width: 85%;
    padding: 10px 15px;
    border: 1px solid #E0E0E0;
    font-size: 13px;
}

.m-main-map_img {
    width: 100%;
}

.m-map_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    padding: 10px 10px 10px 15px;
}

.m-map_footer-car {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 205px;
    padding: 10px 10px 10px 15px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
}

.m-map_footer-img {
    width: 25px;
}

/* ---------------------m-logo------------------- */

.header-logo_pad {
    padding: 10px 0;
}

.m-header_wrapper {
	display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background: white;
}

.m-header_wrapper-img {
    width: 31px;
}

.m-show_settings {
    width: 22px;
    visibility: hidden;
}

.visible-block {
    visibility: visible;
}

.m-wrapp_slide {
	height: 100%;
    min-width: 100%;
    position: fixed;
    transition: 1s;
    z-index: 2;
    top: 0;
    left: -100%;
    overflow-x: scroll;
    font-weight: 500;
	text-transform: none;
	font-weight: normal;
	background: rgba(0, 0, 0, 0.65);
}

.left-slide-block {
	display: flex;
    flex-direction: column;
	height: 100%;
	width: 70%;
	background: white;
	text-align: left;
}

.m-header-menu_slide {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
	padding: 10px;
}

#exit-menu {
	width: 30px;
}

.hidden-elem {
	width: 20px;
	height: 20px;
}

.m-slide-navigation_menu {
	padding: 0 15px 15px;
	font-size: 16px;
}

.m-slide-navigation_menu li {
	padding-bottom: 15px;
}

.m-active_section {
	font-weight: bold;
}

.m-slide-registration_menu {
	flex: 1 0 auto;
	display: flex;
    align-items: flex-end;
	padding: 0 15px 30px;
	background: #FBFBFB;
	font-size: 13px;
}

.m-slide-registration_menu li {
	padding-top: 15px;
}

.m-slide-footer {
	flex: 0 0 auto;
    padding: 15px;
	text-align: center;
}

.m-slide-footer a {
	color: white;
}

.m-slide-footer_master {
	background: #ED4A43;
}

.m-slide-footer_top {
	background: #3ACB7C;
}

/*-----------------------m-quick-search-first-page--------------------*/

.m-quick-search_exit {
    margin-top: 50px;
    font-weight: 500;
    font-size: 13px;
    color: #ED4A43;
}

/*-----------------------quick-search-second-page--------------------*/

.m-quick-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    text-align: center;
    background: white;
}

.m-quick-search_form {
    margin-top: 40px;
}

.m-quick-search_input {
    width: 95%;
    padding: 12px 15px;
    border: 1px solid #E0E0E0;
    margin-bottom: 15px;
}

.m-quick-search_select {
    width: 85%;
    padding: 5px 15px;
    margin-bottom: 15px;
    box-sizing: content-box;
    font-weight: bold;
    border-radius: 0;
    border: 1px solid #E0E0E0;
}

.m-footer_quick-search {
    background: white;
}

.m-quick-search_footer-text {
    width: 230px;
    margin-top: 30px;
    font-size: 13px;
}

.m-quick-search_header {
    margin-top: 40px;
    font-weight: 300;
    font-size: 16px;
}

.m-quick-feedback_text {
    display: none;
    margin: 120px auto 0;
    max-width: 220px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
}

.m-footer_quick-feedback {
    display: none;
}

/*-----------------------m-not-find-page--------------------*/

.not-find_wrap {
    height: 100%;
    background: #F8F8F8;
    font-size: 16px;
    text-align: center;
    border-top: 1px solid #F8F8F8;
}

.not-find_block {
    max-width: 450px;
    margin: 100px auto;
    
}

.not-find_back-page {
    display: inline-block;
    margin-top: 50px;
    padding: 15px 20px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    color: white;
    background: #ED4A43;
    font-weight: bold;
}